<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form #examForm="ngForm" (ngSubmit)="save()">
    <mat-form-field>
        <input matInput placeholder="Tên đợt thi" name="name" [(ngModel)]="exam.name" required #name="ngModel">
    </mat-form-field>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Phải nhập tên đợt thi
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput type="number" placeholder="Số câu hỏi" name="numberOfQuestions" [(ngModel)]="exam.number_of_questions" required #numberOfQuestions="ngModel">
            </mat-form-field>
            <div [hidden]="numberOfQuestions.valid || numberOfQuestions.pristine" class="alert alert-danger">
                Phải nhập số câu hỏi
            </div>
        </div>

        <div class="col">
            <mat-form-field>
                <input matInput type="number" placeholder="Số điểm để đậu" name="scoreToPass" [(ngModel)]="exam.score_to_pass" required #scoreToPass="ngModel">
            </mat-form-field>
            <div [hidden]="scoreToPass.valid || scoreToPass.pristine" class="alert alert-danger">
                Phải nhập số điểm để đậu
            </div>
        </div>
    </div>

    <mat-form-field>
        <input matInput type="number" placeholder="Thời gian làm bài (phút)" name="timeInMinute" [(ngModel)]="exam.time_in_minute" required #timeInMinute="ngModel">
    </mat-form-field>
    <div [hidden]="timeInMinute.valid || timeInMinute.pristine" class="alert alert-danger">
        Phải nhập thời gian thi
    </div>

    <p><strong>Cài đặt số câu hỏi kiến thức chung</strong></p>
    <div class="row border p-1 mb-1" *ngFor="let cat of generalCategories">
        <div class="col">{{cat.name}}</div>
        <div style="width: 200px">
            <input matInput type="number" placeholder="Số câu hỏi trong đề" min="0" name="number-of-question-{{cat.id}}" [(ngModel)]="cat.number_of_question">
        </div>
    </div>

    <div class="mt-3 mb-3">
        <mat-checkbox [(ngModel)]="exam.is_active" name="isActive">Mở thi</mat-checkbox>
    </div>

    <div class="clear-fix"></div>
    <button class="pull-right" mat-raised-button color="primary" [disabled]="!examForm.form.valid || isRequesting">
      <span *ngIf="!isRequesting">Lưu</span>
      <span *ngIf="isRequesting">Đang Lưu ...</span>
    </button>
    <button mat-raised-button (click)="close()" type="button">Đóng</button>
</form>
</mat-dialog-content>