<section>
    <div class="section-header">
        <div class="row">
            <div class="col-sm">
                Chuyên ngành
            </div>
            <div class="col-sm">
                <button class="pull-right" mat-raised-button color="primary" (click)="openCategoryForm()"><fa-icon [icon]="faPlus"></fa-icon> Thêm</button>
            </div>
        </div>
    </div>

    <div class="section-body">
        <table-material [tableData]="tableData"></table-material>
    </div>
</section>

<!-- Template for table cell -->
<ng-template #categoryNameTemplate let-element="element">
    {{ element.name }} <span matTooltip="Đây là chuyên mục chung" *ngIf="element['is_general']">&nbsp;&nbsp;<fa-icon [icon]="faGlobe"></fa-icon></span>
</ng-template>


<ng-template #categoryActionTemplate let-element="element">
    <a routerLink="/admin/questions/list" [queryParams]="{category: element.id}"class="table-action" matTooltip="Xem chi tiết">
        <fa-icon [icon]="faEye"></fa-icon>
    </a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a (click)="openCategoryForm(element)" class="table-action" matTooltip="Chỉnh sửa">
        <fa-icon [icon]="faEdit"></fa-icon>
    </a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a (click)="deleteItem(element)" class="table-action" matTooltip="Xóa">
        <fa-icon [icon]="faTrash"></fa-icon>
    </a>
</ng-template>