@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$table-border-color:          $gray-400;

$html-font-size: 16px !default;
$body-bg: #fff !default;
$section-header-color: $dark !default;