<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form #userForm="ngForm" (ngSubmit)="save()">
    <div [hidden]="data.isChangePassword && user.id">
        <mat-form-field>
            <input matInput placeholder="Tài khoản đăng nhập" name="username" [(ngModel)]="user.username" required #username="ngModel">
        </mat-form-field>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Phải nhập tài khoản đăng nhập
        </div>

        <mat-form-field>
            <input matInput placeholder="Tên người dùng" name="name" [(ngModel)]="user.name" required #name="ngModel">
        </mat-form-field>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Phải nhập tên người dùng
        </div>
    </div>

    <div [hidden]="!data.isChangePassword && user.id">
        <mat-form-field>
            <input matInput placeholder="Mật khẩu" type="password" name="password" [(ngModel)]="user.password" [required]="!user.id" #password="ngModel">
        </mat-form-field>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Phải nhập mật khẩu
        </div>

        <mat-form-field>
        <input matInput placeholder="Nhập lại mật khẩu" type="password" name="repassword" [(ngModel)]="user.repassword" [required]="!user.id || user.password" #repassword="ngModel">
        </mat-form-field>
        <div [hidden]="repassword.valid || repassword.pristine" class="alert alert-danger">
            Phải nhập phẩn kiểm tra mật khẩu
        </div>
    </div>

    <button class="pull-right" mat-raised-button color="primary" [disabled]="!userForm.form.valid || isRequesting">
      <span *ngIf="!isRequesting">Lưu</span>
      <span *ngIf="isRequesting">Đang Lưu ...</span>
    </button>
</form>
</mat-dialog-content>